@import "../../../../variables";

.bag-icon {
  background-color: $primary;
  width: 43px;
  height: 43px;
  border-radius: 5px;
  text-align: center;
  line-height: 39px;
  color: #fff;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
